<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.start.yboot.notepad.NotePadMapper">
    <!-- 원본 데이터 INSERT   -->
    <insert id="insOriginData" parameterType="com.start.yboot.notepad.NotePadDTO">
        INSERT INTO origin_data (
                                  data_seq
                                , location
                                , location_code
                                , pm25
                                , pm10
                                , info_date
                                )
        VALUES                  (
                                  data_seq.NEXTVAL
                                , #{location}
                                , #{location_code}
                                , #{pm25}
                                , #{pm10}
                                , CASE
                                    <!-- 24시로 끝나는 날짜 데이터는 '00시'로 가공 후 + '하루' -->
                                    WHEN SUBSTR(#{info_date}, -2) = '24' THEN TO_CHAR(TO_DATE(REPLACE(#{info_date},' 24',' 00'), 'YYYY-MM-DD HH24') + 1, 'YYYY-MM-DD HH24')
                                    <!-- 아닌 경우 -->
                                    ELSE #{info_date}
                                  END
                                )
    </insert>

    <!-- 원본 데이터 중, NULL 포함 데이터 SELECT하여 점검용 테이블에 INSERT -->
    <insert id="insertNullData" parameterType="list">
        INSERT INTO monitoring_date (org_seq
                                   , location
                                   , location_code
                                   , pm25
                                   , pm10
                                   , info_Date)
        <!-- PM2.5 혹은 PM10 중 NULL 포함 데이터 추출 -->
        SELECT data_seq
             , location
             , location_code
             , nvl(pm25, 0) <!-- null 데이터 0으로 치환 -->
             , nvl(pm10, 0)
             , info_Date
        FROM origin_data
        WHERE pm25 IS NULL
           OR pm10 IS NULL
    </insert>

    <!-- 경보 발령 추출 데이터 INSERT   -->
    <insert id="insertFitData" parameterType="String">
        <!-- SELECT한 데이터 INSERT -->
        INSERT INTO send_data (org_seq
                             , af_info_date
                             , af25_avg
                             , af10_avg
                             , alert_rank)
        <!-- 경보 발령에 충족하는 데이터 SELECT -->
        SELECT C.data_seq
             , C.INFO_DATE_AF
             , C.AF25_AVG
             , C.AF10_AVG
             , C.ALERT_RANK
        FROM (
                 SELECT B.data_seq
                      , B.location
                      , B.location_code
                      , B.info_date
                      , TO_CHAR((TO_DATE(B.info_Date, 'YYYY-MM-DD HH24') + 1/24), 'YYYY-MM-DD HH24')  AS INFO_DATE_AF <!-- 한시간 후 데이터의 날짜 -->
                      , B.PM25
                      , B.AF25_AVG
                      , B.PM10
                      , B.AF10_AVG
                      , CASE
                            WHEN B.AF25_AVG >= 150 THEN '1'  <!-- AF2.5의 평균이 150 이상이면 1등급 (초미세먼지 경보) -->
                            WHEN B.AF10_AVG >= 300 THEN '2'  <!-- AF10의  평균이 300 이상이면 2등급 (미세먼지   경보) -->
                            WHEN B.AF25_AVG >= 75  THEN '3'  <!-- AF2.5의 평균이 75  이상이면 3등급 (초미세먼지 주의보) -->
                            WHEN B.AF10_AVG >= 150 THEN '4'  <!-- AF10의  평균이 150 이상이면 4등급 (미세먼지  주의보) -->
                            ELSE NULL
                     END AS ALERT_RANK
                 FROM(
                         SELECT A.data_seq
                              , A.location
                              , A.location_code
                              , A.info_date
                              , A.pm25
                              , A.pm10
                              , (AF25 + pm25) / 2 AS AF25_AVG <!-- 한시간 후 데이터와 2.5 평균 -->
                              , (AF10 + pm10) / 2 AS AF10_AVG <!-- 한시간 후 데이터와 10  평균 -->
                         FROM
                             (SELECT data_seq
                                   , location
                                   , location_code
                                   , info_date
                                   , NVL(pm25, '0') AS PM25
                                   , NVL(pm10, '0') AS PM10
                                   , LEAD (NVL(pm25, '0')) OVER (ORDER BY info_date) AS AF25
                                   , LEAD (NVL(pm10, '0')) OVER (ORDER BY info_date) AS AF10
                              FROM  origin_data
                              WHERE LOCATION = #{location}
                              ORDER BY info_date
                             ) A
                     ) B
             ) C
        WHERE C.ALERT_RANK IS NOT NULL
    </insert>
</mapper>